//colors
$white: white;
$color_tundora_approx: #444;
$black_75: rgba(0, 0, 0, .75);
$white_85: rgba(255, 255, 255, .85);
$color_pale_sky_approx: #4a4431;
$color_spindle_approx: #b7d5e6;
$color_pearl_bush_approx: #ede0d5;
$white: #fff;
//fonts
$font_0: Helvetica;
// $font_0: Playfair Display;
$font_1: serif;
//urls
$url_d: url(http://i.imgur.com/cBWDjDX.png);
$url_0: url(http://i.imgur.com/PA2wD61.png);
$url_1: url(http://i.imgur.com/eilfCrj.png);
$url_2: url(http://i.imgur.com/VPVTYQm.png);
$url_3: url(http://i.imgur.com/elCqyOz.png);
$url_4: url(http://i.imgur.com/CmI9lP5.png);
$url_5: url(https://i.imgur.com/gOJMjAq.png);
body {
    padding: 0;
    margin: 0;
    background-color: $color_pale_sky_approx;
    font-family: $font_0, $font_1;
    color: $color_spindle_approx;
}

html {
    min-height: 100%;
}

.headline {
    margin: 0 0 60px;
}

ul {
    list-style-type: none;
}

#footer {
    width: 100%;
    // height: 60px;
    background-color: #4d4c4c;
}

.section,
.callout {
    position: relative;
    padding: 120px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: 'Helvetica', serif, sans-serif;
    margin: 5px 0 5px;
    color: #222;
}

.social-icons .btn {
    margin-right: 15px;
}

.social-icons {
    padding-top: 10px;
    margin-bottom: 35px;
}

.social-icons .btn.btn-clear {
    border: 1px solid #fff;
}

.btn-round {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
    padding: 0;
    padding-top: 5px;
}

.btn-round i {
    font-size: 20px;
    top: 15px;
    position: relative;
}

.btn.btn-clear {
    border: 1px solid #fff;
    color: #fff;
    background: none;
    background-color: none;
    font-weight: bold;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.btn.btn-clear:hover,
.btn.btn-clear.selected {
    //background: #fff;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.btn-twitter:hover {
    color: #2BA9E0;
}

.btn-facebook:hover {
    color: #204385;
}

.btn-dribbble:hover {
    color: #D92C85;
}

.btn-instagram:hover {
    color: #BAB1A8;
}

.btn-linkedin:hover {
    color: #015786;
}

.btn-pinterest:hover {
    color: #CA2128;
}

.btn-github:hover {
    color: teal;
}

.btn-google:hover {
    color: #D3492C;
}

.cover-image {
    width: 300px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .5s ease-out;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    margin: 2em;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    &:hover {
        -webkit-filter: none;
        -moz-filter: none;
        -o-filter: none;
        -ms-filter: none;
        filter: none;
    }
    &:hover .overlay {
        opacity: 1;
    }
}

.overlay {
    background: $black_75;
    text-align: center;
    width: 300px;
    height: 300px;
    line-height: 300px;
    border-radius: 5px;
    opacity: 0;
    &:hover {
        cursor: pointer;
    }
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: -50%;
}

.text-overlay {
    font-family: $font_0;
    font-weight: 900;
    color: $white_85;
    font-size: 24px;
    &:hover {
        cursor: default;
    }
}

.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  not supported by any browser */
    &:mousedown {
        cursor: default;
    }
}

.avoid-clicks {
    pointer-events: none;
}

#parallax-area {
    overflow: hidden;
    position: relative;
    min-height: 880px;
    //margin-bottom: 0px;
}

#content {
    background-color: #383737;
}

.navbar.navbar-inverse.navbar-static-top {
    margin-bottom: 0px;
}

.layer {
    background-position: bottom center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

#parallax-area-mobile {
    display: none;
    background: $url_d no-repeat center bottom/cover;
    height: 320px;
}

#first-section {
    padding: 50px 0 20px;
}

p {
    color: $color_spindle_approx;
    color: $color_pearl_bush_approx;
    font-size: 18px;
    line-height: 150%;
}

.text-header {
    font-size: 50px;
    text-align: center;
}

h1 {
    line-height: 120%;
    margin-bottom: 30px;
}

.layer-default {
    background-image: $url_d;
}

.layer-bg {
    background-image: $url_0;
}

.layer-1 {
    background-image: $url_1;
}

.layer-2 {
    background-image: $url_2;
}

.layer-3 {
    background-image: $url_3;
}

.layer-overlay {
    background-image: $url_4;
}

@media only screen and(max-width: 768px) {
    #parallax-area {
        display: none;
    }
    #parallax-area -mobile {
        display: block;
    }
}

.tutorial-link {
    color: $white;
    font-size: 18px;
    text-decoration: underline;
    &:hover {
        color: $color_pearl_bush_approx;
    }
}