//colors
$white: white;
$color_tundora_approx: #444;
$black_75: rgba(0, 0, 0, .75);
$white_85: rgba(255, 255, 255, .85);
$color_pale_sky_approx: #4a4431;
$color_spindle_approx: #b7d5e6;
$color_pearl_bush_approx: #ede0d5;
$white: #fff;

//fonts
$font_0: Helvetica;
$font_0: Playfair Display;
$font_1: serif;

//urls
$url_d: url(http://i.imgur.com/cBWDjDX.png);
$url_0: url(http://i.imgur.com/PA2wD61.png);
$url_1: url(http://i.imgur.com/eilfCrj.png);
$url_2: url(http://i.imgur.com/VPVTYQm.png);
$url_3: url(http://i.imgur.com/elCqyOz.png);
$url_4: url(http://i.imgur.com/CmI9lP5.png);
$url_5: url(https://i.imgur.com/gOJMjAq.png);

body {
	padding: 0;
		margin: 0;
		background-color: $color_pale_sky_approx;
		font-family: $font_0, $font_1;
		color: $color_spindle_approx;
}
html {
	min-height: 100%;
}
#cover-image {
	width: 300px;
	height: 300px;
	background-size: cover;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 5px;
	overflow: hidden;
	display: inline-block;
	margin: 2em;
	&:hover #overlay {
		opacity: 1;
	}
}
#overlay {
	background: $black_75;
	text-align: center;
	width: 300px;
	height: 300px;
	line-height: 300px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 5px;
	opacity: 0;
}
span {
	display: inline-block;
	vertical-align: middle;
	line-height: -50%;
}
#text-overlay {
	font-family: $font_0;
	font-weight: 900;
	color: $white_85;
	font-size: 24px;
}

#front {
	//height: 800px;
	overflow: hidden;
	position: relative;
	//min-height: 1088px;
}
#content {
	background-color: #383737;
}
.layer {
	background-position: bottom center;
	background-size: 100%;
	background-repeat: no-repeat;
	width:100%;
	height:100%;
	position: fixed;
	z-index: -1;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
#front-mobile {
	display: none;
	background: $url_d no-repeat center bottom/cover;
	height: 320px;
}
.first-section {
	padding: 50px 0 20px;
}
p {
	color: $color_spindle_approx;
	color: $color_pearl_bush_approx;
	font-size: 18px;
	line-height: 150%;
}
.text-header {
	font-size: 50px;
	text-align: center;
}
h1 {
	line-height: 120%;
	margin-bottom: 30px;
}

.layer-default{
	background-image: $url_d;
}

.layer-bg {
	background-image: $url_0;
}
.layer-1 {
	background-image: $url_1;
}
.layer-2 {
	background-image: $url_2;
}
.layer-3 {
	background-image: $url_3;
}
.layer-overlay {
	background-image: $url_4;
}
@media only screen and(max-width: 768px) {
	#front {
		display: none;
	}
	#front-mobile {
		display: block;
	}
}
.tutorial-link {
	color: $white;
	font-size: 18px;
	text-decoration: underline;
	&:hover {
		color: $color_pearl_bush_approx;
	}
}
