<html>
<head>
  <title>react-webpack-boilerplate</title>
</head>
  <body>
  <div id="parallax-header">
  </div><div id="top-nav-bar">
  </div><div id="js-main">
  </div>

  <%- body %>

  <% if (env.production) { %>
    <script src="<%= env.assets.main.js %>"></script>
  <% } else { %>
    <script src="http://localhost:3000/client/main.js"></script>
  <% } %>
  </body>
</html>
