<html>
<head>
  <title>The resume website for Colin Swenson-Healey</title>
          <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css"/>

</head>
  <body>
  <div id="parallax-header">
  </div><div id="top-nav-bar">
  </div><div id="js-main">
  </div>

  <%- body %>

  <% if (env.production) { %>
    <script src="<%= env.assets.main.js %>"></script>
  <% } else { %>
    <script src="http://localhost:3000/client/main.js"></script>
  <% } %>
  </body>
</html>
