* {
  background-color: #4d4c4c;
  color: #ede0d5;
}
html {
  height: 100%;
  
}
body {
  height: 100%;
  /* border: 5px solid #ffdb3a; */
  background-color: #383737;
  
}
h1 {
  font-size: 1.5rem;
  line-height: 0.5rem;
}
p, div {
  font-size: 16px;
}